/* for index.html */

/* Double column */

#i dt {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 2%;
}
#i dt::after {
    content: ':';
}
#i dd {
    margin-left: 4%;
}
#i ul { /* 4th dt, Introduction, list */
    padding-left: 0;
    margin: 0 auto;
}
#i {
    float: left;
    width: 40%;
    margin-bottom: 2%;
}
#contents {
    float: right;
    width: 59%;
}

#i dl { /* general */
    margin-bottom: 0;
}
#i ul > li {
    padding-left: 0;
}
#i ul > li::marker {
    content : '';
}
#form {
    width: 96%;
    margin: 2%;
    position: relative;
    box-shadow: 5px 10px 5px lightgray;
}
#form legend {
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.form_content {
    margin: 1% 5%;
}
.form_content > label::after {
    content: ':';
}
.form_content > input, .form_content > select {
    box-sizing: border-box;
    position: absolute;
    width: 40%;
    right: 10%;
    height: 20px;
}
.form_button {
    text-align: center;
    margin: 1% 5%;
}
.form_button > input {
    width: 40%;
}
.form_button > input:first-child {
    margin-right: 5%;
}
.form_button > input:last-child {
    margin-left: 5%;
}

#i ul > li::first-letter {
    font-size: 1.125em;
    font-weight: bold;
}
#i dd:last-child { /* 5th dt, Location, image */
    margin-right: 4%;
}
#i dd > img {
    width: 100%;
}
#i dd > img:hover {
    cursor: pointer;
}
#i dl + a {
    width: 100%;
    height: auto;
}
#order_button { 
    width: 100%;
    text-align: center;
}
#order_button img {
    max-width: 50%;
}

.message {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#contents video {
    text-align: center;
    width: 96%;
    margin: 2%;
}

